header {
  height: 100vh;
  min-height: 1000px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.575)), url("../img/hero\ itp\ brasov.jpg");
  position: relative;
}

.header-small {
  height: 80vh;
}

.c-header {
  height: 100%;
  padding-top: 30rem;
}

.c-header-services {
  height: 100%;
  padding-top: 35rem;
}

@media screen and (min-width: 992px) {
  .c-header {
    padding-top: 13rem;
  }

  .c-header-services {
    height: 100%;
    padding-top: 15rem;
  }
}
